
.title-text{
    font-size: 320%;
    z-index: 1;
    position: relative;
}
.overlay{
    height: 48rem;
}
.overlay img{
    height: 48rem;
}
.overlay::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 850px;
    background: rgb(0, 0, 0, .5);
}
.sub-text{
    font-size: 120%;
    z-index: 1;
    position: relative;
}
.btn{
    z-index: 1;
    position: relative;
}
.menu-logo{
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
h1{
    font-family: 'Chelsea Market', cursive;
}
p{
    font-family: 'Roboto', sans-serif;
}