.text{
    margin-bottom: 150px;
}
.title-text{
    font-size: 70px;
    z-index: 1;
    position: relative;
}
.overlay::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 850px;
    background: rgb(0, 0, 0, .5);
}
.sub-text{
    font-size: 20px;
    z-index: 1;
    position: relative;
}
.btn{
    z-index: 1;
    position: relative;
}
